.Grand-parent{
    border: 2px solid black;
    height: 50vh;
        width: 70vw;
    margin: auto;
    background-color: purple;
}

.parent{
    border: 2px solid black;
    height: 60%;
    width: 80%;
    margin: 70px auto;
    background-color: orange;
}

.child{
    border: 2px solid black;
    height: 50%;
    width: 70%;
    margin: 45px auto;
    background-color: blueviolet;
}

